.admin-reset-pass-cont{
    height: 80vh;
}

.admin-reset-text-cont{
    margin: 30px;
}

.admin-reset-form-group{
    padding: 30px;
}

.reset-form-group{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 20px 40px;
}

.reset-group-botton{
    padding: 10px 40px;
}

.admin-reset-infos{
    padding: 10px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
}

.admin-reset-botton{
    height: 40px;
    width: 100px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: rgb(11, 161, 66);
    box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.59);
    color: #fff;
    font-size: 15px;
}