.article-cont{
    display: grid;
    grid-template-columns: 1;
    margin: 30px 20px 50px 20px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
}

.iem-img-cont img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.article-name, .article-desc{
    margin: 5px 5px;
}

.article-name {
    color: rgb(65, 65, 65);
}