.admin-root-settings-cont {
  padding: 0px 30px;
  min-height: 90vh;
}

.admin-root-text-cont {
  padding: 30px 0px;
}

.admin-root-form-group,
.initial {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  width: 300px;
  margin: 0 auto;
}

.initial {
  padding: 0px 0px 30px 0px;
}

.admin-root-form {
  padding-top: 20px;
}
.admin-root-form-group input,
.initial input {
  height: 30px;
  border-radius: 3px;
  padding: 5px;
}

.admin-root-botton {
  height: 40px;
  width: 100px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: rgb(11, 161, 66);
  box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.59);
  color: #fff;
  font-size: 15px;
}

.error-message {
  padding: 10px 5px;
  border: 1px solid rgb(255, 63, 63);
  border-radius: 5px;
  background-color: rgb(255, 227, 227);
  color: black;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.error-message-text-cont {
  grid-column: 1/6;
  padding: 5px 2px;
}

.close-error-pop-up {
  border: 1px solid black;
  font-size: x-large;
  font-weight: bold;
  grid-column: 6/7;
  padding: 5px;
  text-align: center;
}

@media screen and (min-width: 620px) {
  .admin-root-settings-cont {
    background-color: rgb(248, 255, 255);
    padding-top: 20px;
    min-height: 95vh;
  }

  .admin-root-form {
    border-radius: 5px;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.4);
    max-width: 320px;
    height: 700px;
    margin: 0 auto;
    background-color: #fff;
  }
}
