.admin-root-settings-cont{
    padding: 0px 30px;
    min-height: 90vh;
}

.admin-root-text-cont{
    padding: 30px 0px;
}

.admin-root-form-group, .initial{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.initial{
    padding: 0px 0px 30px 0px;
}

.passhide{
    display: none;
}

.checkbox-option{
    padding: 20px 0px;
}

.checkbox-option label{
    font-style: italic;
    color: rgb(95, 95, 95);
    padding: 0px 10px 0px 0px;
}

.pass-checkbox{
    width: 15px;
    height: 15px;
}

.admin-root-botton{
    height: 40px;
    width: 100px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: rgb(11, 161, 66);
    box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.59);
    color: #fff;
    font-size: 15px;
}