.edit-product-infos-container{
    margin: 10px 20px;
}

.edit-product-infos-container h2{
    text-align: center;
    padding: 10px 10px;
    margin: 20px 0px;
    
}

.edit-form-group{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;

}

.edit-infos-text{
    width: 95%;
    height: 2.3em;
    margin: 5px 0px;
    border: 1px solid rgb(216, 216, 216);
    font-size: 20px;
}

.edit-infos-submit-botton{
    width: 200px;
    justify-self: center;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
    text-align: center;
    background: rgb(11, 161, 66);
    color:#fff;
    border: none;
    border-radius: 5px;
}

.edit-item-root{
    height: 82vh;
}

.edit-image-container{
    margin: 10px 20px;
    display: grid;
    grid-template-columns: 1fr;
}
