footer {
  display: inline-block;
  padding: 20px 0px;
  text-align: center;
  width: 100%;
}

footer p {
  padding: 5px 0px;
}

.footer-root {
  background-color: rgb(207, 232, 206);
  margin-top: 20px;
}

.social-cont {
  max-width: 150px;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  justify-content: center;
}

.social-cont a {
  margin: 0px 10px;
}

.footer-link .link {
  margin: 0 10px;
  font-size: 12px;
}

.designer-coder a {
  color: #6c63ff;
  border-bottom: 2px solid #7a2dff;
  font-weight: bold;
}

.references a {
  text-decoration: none;
  text-transform: none;
  color: #000;
  border-bottom: 1.5px solid #000;
}
