/*General*/
.button {
    padding: 10px 32px;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
    color: rgb(11, 161, 66);
}

/*Mobile Style */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1em;
}

.presentaion-cont{
    margin-top: 30px;
}

img {
    width: 100%;
}

h2 {
    margin: 10px 0px;
}
.welcome-img, .mission-img, .team-img{
    grid-column: 1/9;
    grid-row: 2;
}

.welcome-text, .mission-text,.team-txt{
    grid-column: 1/9;
    text-align: center;
    margin-top: 20px;
    padding: 0px 8px;
}
.welcome-text{
    margin: 20px 0px 40px 0px;
}

.welcome-text .button-cta{
    background-color: rgb(11, 161, 66);;
    padding: 18px 40px;
    margin: 10px 0px;
    font-size: 18px;
    color: #FFF;
}



