/*General*/
.button {
    padding: 10px 32px;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
    color: rgb(11, 161, 66);
}

@font-face{
    font-family: "Montserrat Bold";
    src: url('../../assets/fonts/Roboto/Montserrat-Bold.ttf');
}

@font-face{
    font-family: "Montserrat Thin";
    src: url('../../assets/fonts/Roboto/Montserrat-Thin.ttf');
}

@font-face{
    font-family: "Roboto Thin";
    src: url('../../assets/fonts/Roboto/Roboto-Thin.ttf');
}


/*Mobile Style */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1em;
}

.presentaion-cont{
    margin-top: 0px;
    min-height: 95vh;
    background: rgb(87,196,135);
    background: linear-gradient(222deg, rgba(87,196,135,1) 0%, rgba(92,65,143,1) 100%);
    color: #FFF;
}

img {
    width: 100%;
}

h2 {
    margin: 10px 0px;
}
.welcome-img, .mission-img, .team-img{
    grid-column: 1/9;
}

.welcome-text, .mission-text,.team-txt{
    grid-column: 1/9;
    grid-row: 2;
    text-align: center;
    margin-top: 20px;
    padding: 0px 8px;
}
.welcome-text{
    margin: 20px 0px 40px 0px;
}

.welcome-text .button-cta{
    background-color: rgb(11, 161, 66);
    border-radius: 40px;
    padding: 15px 40px;
    margin: 10px 0px;
    font-size: 18px;
    color: #000;
    font-family: "Montserrat Thin";
    box-shadow: 5px 5px 23px 2px rgba(0,0,0,0.59);
    cursor: pointer;
}

.welcome-text h1{
    font-family: "Montserrat Bold";
    text-align: start;
    margin: 0px 0px 5px 10px;
    font-size: 70px;
}

.welcome-text h3{
    font-family: "Montserrat Thin";
    text-align: start;
    margin: 0px 0px 10px 10px;
}

.welcome-text p{
    font-family: "Roboto Thin";
    text-align: start;
    margin: 0px 0px 10px 10px;
}

.mission-cont, .team-cont {
    padding: 20px;
}


