
.article-container{
    display: grid;
    border-radius: 10px;
    box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.4);
}

.item-img-cont img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.text-container{
    padding: 5px 15px;
}

.gallery-article-name{
    font-size: 20px;
    padding-bottom: 5px;
}

.gallery-article-desc {
    color: rgb(63, 63, 63);
    padding-bottom: 5px;
}

.item-link-tag{
    text-transform: none;
    text-decoration: none;
    color: inherit;
}

.gallery-article-lire-plus {
    color: rgb(11, 161, 66);
    font-weight: bold;
    font-size: 12px;
}