.article-container {
  display: grid;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  background-color: #fff;
}

.item-img-cont {
  width: 100%;
  box-sizing: border-box;
}

.item-img-cont img {
  width: 100%;
}

.text-container {
  padding: 5px 15px;
  box-sizing: border-box;
}

.gallery-article-name {
  font-size: 20px;
  padding-bottom: 5px;
  color: rgb(39, 39, 39);
}

.gallery-article-desc {
  padding-bottom: 4px;
  color: rgb(92, 92, 92);
}

.article-container {
  grid-column: 1/13;
}

/* Small Tablet */
@media screen and (min-width: 620px) {
  .article-container {
    grid-column: span 6;
    box-sizing: border-box;
  }
}

/* large Tablets and Laptop */
@media screen and (min-width: 960px) {
  .article-container {
    grid-column: span 4;
  }
}

/* Large Laptop and Desktop */
@media screen and (min-width: 1200px) {
  .article-container {
    grid-column: span 3;
  }
}
