.login-container {
  min-height: 95vh;
}

.admin-login-container {
  height: 80vh;
  background-color: #fff;
}

.login-text-container {
  padding: 20px;
  color: rgb(87, 83, 83);
  font-style: italic;
  text-align: justify;
}

.login-form {
  padding: 20px 20px;
  border-radius: 10px;
  display: grid;
  justify-items: center;
}

.login-form-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.2em;
  width: 205px;
  margin: 0px 0px 20px 0px;
  padding: 5px 0px;
}

.login-form-group label {
  color: rgb(32, 32, 32);
  font-style: italic;
}

.admin-infos {
  width: 200px;
  height: 40px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  padding: 5px;
}

.login-botton {
  text-align: center;
}
.admin-connect-botton {
  height: 40px;
  width: 100px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: #6c63ff;
  box-shadow: 4px 4px 18px 1px rgba(0, 0, 0, 0.59);
  color: #fff;
  font-size: 15px;
}

.login-botton .login-forget-pass {
  font-size: 10px;
  margin: 20px 0px;
  text-decoration: underline;
  text-transform: none;
  color: rgb(192, 7, 7);
}

.error-message-login {
  padding: 8px 4px;
  border: 1px solid rgb(255, 63, 63);
  border-radius: 5px;
  background-color: rgb(255, 227, 227);
  color: black;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 8px;
}

.error-message-text-cont-login {
  grid-column: 1/6;
  padding: 5px 2px;
}

.close-error-pop-up-login {
  border: 1px solid black;
  font-size: 12px;
  font-weight: bold;
  grid-column: 6/7;
  padding: 5px;
  text-align: center;
}

@media screen and (min-width: 620px) {
  .login-container {
    background-color: rgb(248, 255, 255);
    padding-top: 20px;
    min-height: 95vh;
  }

  .admin-login-container {
    border-radius: 5px;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.4);
    max-width: 320px;
    height: 700px;
    margin: 0 auto;
    background-color: #fff;
  }
}
